.main-container{
  max-width: 100%;
  padding: 0 20px;
  @include center();

  @include respond-min(1025){
    max-width: 1000px;
  }

  @include respond-min(1200){
    max-width: 1180px;
  }

  @include respond-min(1440){
    max-width: 1360px;
  }
}